@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
body{
	max-width: 100%;
	box-sizing: border-box;
	font: 300 18px/1.8 'Lato', sans-serif;
	color: #171717;
}
.ba-container{
	max-width: 1600px;
	padding: 150px 100px;
	margin: 0 auto;
}
.ba-article{
	background: #ffffff;
	letter-spacing: -0.005em;
	text-align: left;
	line-height: 40px;
	padding: 140px 138px 227px 123px;
	box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.1);
}
.ba-title{
	font: 400 42px 'Playfair Display', serif;
	padding-bottom: 39px;
	color: rgb(23, 23, 23);
}
.ba-first-leter::first-letter{
	font: 400 110px/1 PlayfairDisplay, serif;
	float: left;
	padding: 0 30px 0 0;
	color: rgb(23, 23, 23);
}
.ba-article p{
	padding-bottom: 25px;
	color: rgba(23, 23, 23, 0.7);
}
.ba-cite{
	font-style: italic;
	font-size: 28px;
	margin: 0;
	color: rgba(23, 23, 23, 0.7);
}
blockquote::before {
	content: '\201c';
	font-size: 60px;
	font-weight: 700;
	font-family: 'Times New Roman', serif;
	color: rgb(23, 23, 23);
	margin-right: 20px;
}
.ba-button{
	margin-top: 39px;
	color: #eaa258;
	border: 2px solid  #eaa258;
	padding: 21px 65px;
	display: inline-block;
	font: 700 18px/1.8 Lato, self-serif;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}
.ba-button:hover{
	background: #eaa258;
	color: #171717;
}